#genOutfit {
	width: 65%;
}

#fav {
	width: 32%
}

#currLocation {
	font-size: 120%;
}

#weatherTemp {
	font-size: 250%;
}

#divIcon {
	float: left;
	padding-right: 4%;
}

#divLocation {
	float: left;
	padding-right: 3%;
	margin-top: -4%;
	margin-bottom: -5%;
}

#divTemp {
	float: left;
	margin-top: -10%;
	margin-bottom: -10%;
}

#divMain {
	float:left;
	width: 100%;
	top: 6%;
	margin-left: -4%;
	margin-top: -6%;
	margin-bottom: -5%;
}

#weatherInfo {
	float: left;
	margin-left: -4%;
	margin-top: -4%;
}

#outfitContainer {
	clear: both;
}