#genOutfitButton {
	width: 64%;
}

#favButton {
	width: 31%
}

#currLocation {
	font-size: 120%;
}

#weatherTemp {
	font-size: 250%;
}

#divIcon {
	float: left;
	padding-right: 4%;
}

#divLocation {
	float: left;
	padding-right: 3%;
	margin-top: -4%;
	margin-bottom: -5%;
}

#divTemp {
	float: left;
	margin-top: -10%;
	margin-bottom: -10%;
}

#divMain {
	float:left;
	width: 100%;
	top: 6%;
	margin-left: -4%;
	margin-top: -6%;
	margin-bottom: -5%;
}

#weatherInfo {
	float: left;
	margin-left: -4%;
	margin-top: -4%;
}

#outfitContainer {
	clear: both;
}

#topImg {
	max-width: 95%;
	max-height: 28%;
}

#bottomImg {
	max-width: 95%;
	max-height: 28%;
}

#shoeImg {
	max-width: 95%;
	max-height: 10%;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.lockIconImg {
	position: absolute;
	left: 85%;
	max-height: 8%;
	max-width: 8%;
}

.leftArrow {
	position: absolute;
	left: -2%;
	max-height: 20%;
	max-width: 15%;
}

.rightArrow {
	position: absolute;
	left: 87%;
	max-height: 20%;
	max-width: 15%;
}

.topArrow {
	top: 37%;
}

.bottomArrow {
	top: 62%;
}

.shoeArrow {
	top: 83%
}